<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="services-controller.js"></script>

<body>

<div ng-app="services" ng-controller="operations">

	<form name="myForm" ng-submit=calculate()>
	  First Number:<br>
	  <input type="number" name="number1" ng-model="number1" required><br>

	  Second Number:<br>
	  <input type="number" ng-model="number2" required><br><br>
	  
	  <button type="submit">Calculate</button>
	</form>

	<p ng-hide="!sum.total && sum.total != 0">Sum: {{sum.total}}</p>
	<p ng-hide="!substraction.total && substraction.total != 0">Substraction: {{substraction.total}}</p>
	<p ng-hide="!multiplication.total && multiplication.total != 0">Multiplication: {{multiplication.total}}</p>
	<p ng-hide="!division.total && division.total != 0">Division: {{division.total}}</p>
</div>

</body>
</html>
